<template name="main">
  {{#unless currentUser}}
  <div class="jumbotron jumbo">
    <h1 class="text-center jumbo-header">Serverless Marketplace</h1>
    <p class="text-center">A marketplace for developers and function users</p>
    <p class="text-center">
      <a id="join-publisher" href="{{pathFor route='publisher.signup'}}" role="button">
        <button type="button" class="btn action-btn btn-lg">
        <span class="glyphicon glyphicon-console" aria-hidden="true"></span>
        Join as a code publisher
        </button>
      </a>
    </p>
    <p class="text-center">
      <a id="join-licensee" class="btn btn-success btn-custom btn-lg" href="{{pathFor route='licensee.signup'}}" role="button">
        <button type="button" class="btn btn-success btn-custom btn-lg">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        Join as code licensee
        </button>
      </a>
    </p>
  </div>
  {{/unless}}
  <div class="page-header">
    <h1 class="text-center">Functions</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        {{#if Template.subscriptionsReady}}
          {{#each getFunctionList}}
            <div class="col-xs-6 col-sm-4">
            {{> functionDetails}}
            </div>
            {{else}}
              <p class="bg-warning" style="padding:15px">No functions are currently available</p>
          {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
</template>
